##
# Copyright (c) 2014 Peter Leese
#
# Licensed under the GPL License. See LICENSE file in the project root for full license information.  
##

[Unit]
Description=Check battery

[Timer]
OnBootSec=300
OnUnitActiveSec=900

[Install]
WantedBy=timers.target
